@using FinanceTracker.Data.Entities.StockEntities
@{
    Layout = "~/Views/Shared/_InternalLayout.cshtml";
}
@model List<StockPortfolio>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
</head>
<body>
    <div class="container">
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirm Require</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        Are you sure to delete this asset?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="button" class="btn btn-danger" id="deleteButton">Yes</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="text-center mb-5">
            <a asp-controller="StockPortfolio" asp-action="AddPortfolio"><h3>Click to add portfolio</h3></a>
            <p class="lead">Which makes you rich in the future</p>
        </div>
        @foreach (var item in Model)
        {
            <div class="card mb-3" style="padding-top:20px">
                <div class="card-body">
                    <div class="d-flex flex-column flex-lg-row">
                        <span class="avatar avatar-text rounded-3 me-4 mb-2">FD</span>
                        <div class="row flex-fill">
                            <div class="col-sm-5">
                                <h4 class="h5">@item.Name</h4>
                                <span class="badge bg-secondary">WORLDWIDE</span> <span class="badge bg-success">$60K - $100K</span>
                            </div>
                            <div class="col-sm-4 py-2">
                                
                            </div>
                            <div class="col-sm-3 text-lg-end">
                                <a asp-controller="StockPortfolio" asp-action="ViewPortfolio" asp-route-id="@item.PortfolioCode" class="btn btn-primary stretched-link">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <script>
        function confirmedDeletion(id) {
            $('#confirmModal').modal('show');

            $('#deleteButton').click(function () {
                $.ajax({
                    url: "@Url.Action("RemovePortfolio", "StockPortfolio")",
                    method: "DELETE",
                    data: { portfolioCode: id },
                    success: function () {
                        window.location.reload();
                    }
                });

                $('#confirmModal').modal('hide');
            });
        }
    </script>
    <style>
        body {
            background: #eee;
        }

        .card {
            box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
        }

        .card {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 0 solid rgba(0,0,0,.125);
            border-radius: 1rem;
        }

        .card-body {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.5rem 1.5rem;
        }

        .avatar-text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background: #000;
            color: #fff;
            font-weight: 700;
        }

        .avatar {
            width: 3rem;
            height: 3rem;
        }

        .rounded-3 {
            border-radius: 0.5rem !important;
        }

        .mb-2 {
            margin-bottom: 0.5rem !important;
        }

        .me-4 {
            margin-right: 1.5rem !important;
        }
    </style>
    
</body>